body{
  margin: 0px;
  font-family: "Lato", sans-serif;

}
.top{

  background-color: #222222;
  padding: 20px 0 20px 20px;
  width: 100%;
  position:fixed;
  top: 0;

}
.background1{
  margin:0;
  background-image: url("last1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}
.l1{
    margin: 0 50px 0 50px;
}
.years{
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  margin-top: 20px;
}
.y1{
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  background-color: white;
  color: #777777;
  border-radius: 3px;
}
.yi{
  margin-left: 50px;
}
.mar{
  margin-top: 25px;
  margin-bottom: 25px;
}
.video{
  margin: 0 auto 50px auto;
  display: block;
  width: 90%;
  height: 500px;
}
.li{
  color: #777777;
  font-size: 20px;
}
table{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 300px;
  margin-bottom: 50px;

}
th{
  background-color: #ddd;
  text-align: center;
  font-size: 20px;
  border: 1px solid black;
}
td:hover {background-color: #f5f5f5;}
td{
  border: 1px solid black;
  text-align: center;
}
.course{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.li2{
  color: #777777;
  font-size: 25px;
}
.l2{
  font-weight: bold;
  color: black;
  font-size: 20px;
}
.a1{
  padding-right: 30px;
    font-size: 20px;

}
.a2{
  padding-right: 30px;
    font-size: 15px;
}
a:link, a:visited{
  color: #9D9D9D;
  text-decoration: none;
}
a:hover, a:active{
  color: #ffffff;
}
.me{
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  border-radius: 2%;
}
.mid1{
  margin-top: 60px;
  background-image: url("img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 480px;
}
.h11{
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 3.5rem;
  letter-spacing: 2px;
  margin: 0px;
}
.h2{
  font-weight: bolder;
  margin-top: 5px;
  text-align: center;
  font-family: Josefin Sans;
}
div.last9{
  margin-bottom: 15px;
    text-align: center;
}
a.last9{
  color: black;
  font-weight: bold;
}
.about{
  padding-top: 35px;
  padding-bottom:35px;
  background-color: black;
}
